# Raw data to csv file

This notebook reads data from raw folder, sensors used by individuals (mostly surfers) and save it in csv file.

In [9]:
import sys
sys.path.append('/Users/ignasivalles/Oceanography/IEO/projects/POM/pom.github.io/src')
from data_functions import *
import pandas as pd
import numpy as np
import glob
import os

folder_path="/Users/ignasivalles/Google Drive/La meva unitat/POM/data/raw/"
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

# Iterate over each CSV file

all_data = []
for file in csv_files:
    idf1=get_data_from_temp_sensors(file)
    all_data.append(idf1)

all_data=pd.concat(all_data, ignore_index=True)
all_data['Temperature']=all_data['Temperature'].round(2)

all_data.to_csv('/Users/ignasivalles/Oceanography/IEO/projects/POM/pom.github.io/individual_data.csv', index=False)

             Date   Latitude  Longitude  Temperature  fractional_time Team
0   2025-01-14T15  43.450161  -3.962886    13.484783         0.427397  raw
1   2025-01-10T15  43.476076  -3.694162    13.709091         0.295890  raw
2   2025-01-02T14  37.108780  -8.935526    16.532857         0.032877  raw
3   2024-12-17T18  43.461200  -3.730000    19.268359        11.508197  raw
4   2024-12-13T14  43.455761  -3.742693    14.710000        11.377049  raw
5   2024-12-07T13  43.586608  -5.760915    14.846296        11.180328  raw
6   2024-12-01T08  43.398100  -4.361100    15.375294        10.983607  raw
7   2025-01-17T16  43.462663  -3.724438    13.385294         0.526027  raw
8   2025-02-01T15  43.440450  -4.044818    13.305882         1.019178  raw
9   2025-01-16T16  43.461431  -3.721370    13.495833         0.493151  raw
10  2025-01-29T15  43.475136  -3.786151    13.383333         0.920548  raw
11  2024-12-06T13  43.389948  -4.384536    15.588095        11.147541  raw
12  2024-12-15T13  43.476000  -3.694100    13.433333        11.442623  raw

            Date   Latitude  Longitude  Temperature  fractional_time Team
0  2025-01-29T15  43.475136  -3.786151    13.383333         0.920548  raw

np.float64(0.9205479452054794)